<div class="container">
  <h3>Lista de mineros</h3><br/>
  <button (click)="createMiner()" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
    Create Miner
  </button>
  <ng-container *ngIf="miners.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Full Name</th>
          <th scope="col">Municipality</th>
          <th scope="col">Type Id</th>
          <th scope="col">Identification</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let miner of miners">
          <th scope="row">{{miners.indexOf(miner)+1}}</th>
          <td>{{miner.fullName}}</td>
          <td>{{miner.municipality}}</td>
          <td>{{miner.typeId}}</td>
          <td>{{miner.identification}}</td>
          <td><button (click)="editMiner(miner._id)">Edit</button></td>
          <td><button (click)="deleteMiner(miner._id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-container *ngIf="miners.length === 0">
    <p>No hay datos de mineros disponibles.</p>
  </ng-container>
</div>
<!-- <img [ngSrc]="miner.imgUrl" width="640" height="480" /> -->