<div class="container">
  <br>
  <form [formGroup]="filterForm" (ngSubmit)="getMinersWithFilter(filterForm.value)">
    <div class="form-group row">
      <div class="col">   
        <select class="form-control" formControlName="municipality">
          <option value="" disabled selected>Select an option</option>
          <option value={{municipality}} *ngFor="let municipality of municipalities">{{municipality}}</option>
        </select>
      </div>
      <div class="col">
        <select class="form-control" formControlName="typeId">
          <option value="" disabled selected>Select an option</option>
          <option value={{typeId}} *ngFor="let typeId of typesId">{{typeId}}</option>
        </select>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-dark">Filtrar</button>
      </div>
      <div class="col">
        <button type="submit" (click)="filterForm.reset()" class="btn btn-light">Limpiar</button>
      </div>
    </div>
  </form>

  <br>
  <ng-container *ngIf="miners.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Full Name</th>
          <th scope="col">Municipality</th>
          <th scope="col">Type Id</th>
          <th scope="col">Identification</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let miner of miners">
          <th scope="row">{{miners.indexOf(miner)+1}}</th>
          <td>{{miner.fullName}}</td>
          <td>{{miner.municipality}}</td>
          <td>{{miner.typeId}}</td>
          <td>{{miner.identification}}</td>
          <td><button (click)="editMiner(miner._id)">Edit</button></td>
          <td><button (click)="deleteMiner(miner._id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-container *ngIf="miners.length === 0">
    <p>No hay datos de mineros disponibles.</p>
  </ng-container>
  <button (click)="createMiner()" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
    Create Miner
  </button>
</div>
<!-- <img [ngSrc]="miner.imgUrl" width="640" height="480" /> -->